.content {
    padding: 3em 2em;
}

.hero {
    max-width: 500px;
    margin: 10% auto;
}

.icon {
    max-width: 100px;
    padding: 1em;
}

.languages {
    display: flexbox;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    padding: 1em;
    margin: 0 auto;
}

.projects {
    padding: 3em 0;
}

.title {
    padding-bottom: 1em;
    font-family: "Eczar";
    color: #E40C2B;
}

.welcome {
    padding: 3em 0;
}