.navColor {
    background-color: #F7F4E9;
}

.navLinkItem {
    color: #1D1D2C !important;
    transition: all 0.2s ease-in-out !important;
}

.navLinkItem:hover {
    color: #EBA63F !important;
    text-decoration: underline !important;
}

.footer {
    background-color: #1D1D2C;
}

.footerContact {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: center;
}

.footerText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F4E9;
}

.pattern {
    font-family: "Sora";
    background-color: #F7F4E9;
    color: #1D1D2C;
}