/* .container {
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}

.heading {
    color: purple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2em;
}

.nav-link-text {
    color: black;
} */

/* body {
    background-color: black;
} */

.footer {
    background-color: #1D1D2C;
}

.footerContact {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: center;
}

.footerText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pattern {
    font-family: "Sora";
    /* background: linear-gradient(#3c6e71, rgba(255,251,254,1)); */
    /* background: linear-gradient(#8AA8A9, rgba(255,251,254,1)); */
    
    /* background: radial-gradient(circle at 50% 50%,#3c6e71, #8aa8a9, #fffbfe) */
}